@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Traccia della scrollbar (trasparente) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb della scrollbar (invisibile di default) */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

/* Thumb visibile al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
  background: rgba(125, 125, 125, 0.5);
}

.calendar-container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background: #1e1e2e;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
}

.event-box {
  background-color: #2d3748;
  color: #e5e7eb;
  padding: 8px;
  margin: 2px 0;
  border-left: 4px solid #3b82f6;
  border-radius: 4px; 
  font-size: 0.875rem;
}

.geography:focus {
  outline: none;
  background-color: #3b82f6;
}

/* Tailwind's @layer directive can be used for adding custom styles */
@layer utilities {
  .moon-dot {
    opacity: 0;
    transition: 0.4s;
  }

  .light-ray {
    fill: white;
    opacity: 10%;
  }

  .star {
    animation-name: star-twinkle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes star-twinkle {
    0% {
      transform: scale(1);
    }

    40% {
      transform: scale(1.2);
    }

    80% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(1);
    }
  }
}
